@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
.donation-body{
    background-color: rgb(34, 33, 33);
    color: #fff;
}

.help{
    color: rgb(214, 33, 33);
}

.para{
    color: goldenrod;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.donation-body ul li a {
    text-decoration: none;
    color: hotpink;
}